<div id="hero-block" class="hero-block">
    <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item-1 carousel-item active">
            </div>
            <div class="carousel-item-2 carousel-item">
            </div>
            <div class="carousel-item-3 carousel-item">
            </div>
        </div>
    </div>
    <div class="hero-block-mask"></div>
    <div class="container">
        <div class="hero-text-block">
            <h1 class="hero-heading mb-2">III Miqueias 2022</h1>
            <div class="hero-meta mb-3"><i class="far fa-calendar-alt me-2"></i>16 - 18 Jun <i class="fas fa-map-marker-alt mx-2"></i>Recife (PE)</div>
            <div class="hero-intro mb-4">Semeando a Esperança</div>
            <div class="hero-cta"><a class="btn btn-primary btn-lg" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Inscreva-se</a></div>
            
        </div><!--//hero-text-block-->
    </div><!--//container-->

</div><!--//hero-block-->
	
	