<!--<img src="/images/bg/keith.jpg" class="img-fluid" alt="Responsive image">-->
{{!-- <div class="container text-center pt-5">
    <img src="/images/logos/logo-deitado.png" class="img-fluid pt-5 mt-5">
    
</div> --}}

	
<div id="hero-block" class="hero-block pt-5">
    <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item-1 carousel-item active">
            </div>
            <div class="carousel-item-2 carousel-item">
            </div>
            <div class="carousel-item-3 carousel-item">
            </div>
        </div>
    </div>
    {{!-- <div class="hero-block-mask"></div> --}}
    <div class="container">
        <div class="hero-text-block">
            {{!-- <h1 class="hero-heading mb-2">III Miqueias 2022</h1> --}}
            <h1 class="hero-heading mb-5">
                <img class="d-md-none" width="300" src="/images/logos/logo.svg" />
                <img class="d-none d-md-inline-block" width="600"src="/images/logos/logo.svg" />
            </h1>
            
            
                    
                

            {{!-- <div class="hero-meta mb-3"><i class="far fa-calendar-alt me-2"></i>16 - 18 Jun <i class="fas fa-map-marker-alt mx-2"></i>Recife (PE)</div> --}}
            <div class="hero-intro mb-4">Em decorrência das fortes chuvas que acometaram a Região Metropolitana de Recife,
                 em especial a região da Igreja Batista em Coqueiral (local de nosso encontro), 
                o III Congresso Miqueias Brasil será adiado para um momento mais oportuno. 
                Quando houver uma nova data avisaremos amplamente no 
                <a class="text-white text-decoration-underline" href="https://www.instagram.com/miqueias.brasil/"><i class="fab fa-instagram fa-fw"></i>miqueias.brasil</a>.</div> 
                <div class="hero-intro mb-10">
                São dezenas de milhares de pessoas afetadas que carecem de nossa ajuda e oração. 
                Pedimos que ore, compartilhe e, se possível, doe para que nossos irmãos e irmãs do Recife possam se reestabelecer.
                
                {{!-- da IBC continuem a missão do Senhor, 
                dando o suporte necessário às comunidades dos bairros de Coqueiral e adjacências.
                
                Siga-os em:
                <a class="text-white text-decoration-underline" href="https://www.instagram.com/ibcoqueiral"><i class="fab fa-instagram fa-fw"></i>ibcoqueiral</a></div> --}}
            
            
        </div><!--//hero-text-block-->
    </div><!--//container-->

</div><!--//hero-block-->