<section id="venue-section" class="venue-section section  theme-bg-primary text-white">
    <div class="container">
        <h3 class="section-heading text-center mb-5 text-white">Local</h3>
        <div class="row gx-5 py-lg-5">
            <div class="col-12 col-lg-7 h-100">
                <div class="desc">
                    <h4 class="text-white mb-3">Como chegar na IBC?</h4>
                    <p>A Igreja Batista em Coqueiral está situada na Rua Alcântara, número 170, no bairro de Coqueiral, periferia de Recife/PE. A igreja fica próxima à estação de metrô de Coqueiral, o que torna-se acessível de diversos lugares da cidade. A seguir estão algumas informações para quem vem do aeroporto e da rodoviária. Nos colocamos a disposição para ajudar você a chegar até nós. </p>
                    
                    <div class="row pt-3">
                        <div class="col-12 col-md-6 mb-4">
                            <div class="grid-item p-4">
                                <h5 class="text-white mb-3 title"><i class="fas fa-plane-departure me-2"></i>Do Aeroporto <br /><i class="fas fa-subway me-2"></i>via Metrô</h5>
                                <p>Siga para a Estação Aeroporto (há ligação interna entre o aeroporto e o metrô) e pegue o metrô no sentido Recife. Desça na estação Joana Bezerra e pegue qualquer metrô com destino a Camaragibe ou Jaboatão. Desça na Estação Coqueiral, siga a pé pela Rua Guanabara e entre na Rua Alcântara (segunda à esquerda, com a Academia Tecnoforma na esquina). Você já verá a sede da Igreja Batista em Coqueiral.</p>
                                <a class="text-white" href="/images/venue/mapa-metro.jpeg" target="_blank">Mapa do metrô &rarr;</a>
                            </div><!--//grid-item-->
                        </div><!--col-->
                        <div class="col-12 col-md-6 mb-4">
                            <div class="grid-item p-4">
                                <h5 class="text-white mb-3 title"><i class="fas fa-bus-alt me-2"></i>Da Rodoviária <br /><i class="fas fa-subway me-2"></i>via Metrô</h5>
                                <p>Siga para a Estação Rodoviária (há ligação interna entre a rodoviária e o metrô) e pegue o metrô no sentido Recife. Desça na estação Desça na Estação Coqueiral, siga a pé pela Rua Guanabara e entre na Rua Alcântara (segunda à esquerda, com a Academia Tecnoforma na esquina). Você já verá a sede da Igreja Batista em Coqueiral.</p>
                                <a class="text-white" href="/images/venue/mapa-metro.jpeg" target="_blank">Mapa do metrô &rarr;</a>
                            </div><!--//grid-item-->
                        </div><!--col-->
                        <div class="col-12 col-md-6 mb-4">
                            <div class="grid-item p-4">
                                <h5 class="text-white mb-3 title"><i class="fas fa-plane-departure me-2"></i>Do Aeroporto <br /><i class="fas fa-car me-2"></i>via Uber</h5>
                                <p>Cerca de 30 minutos. Basta colocar Igreja Batista em Coqueiral ou Instituto Solidare.</p>
                                {{!-- <a class="text-white" href="#">Check Route &rarr;</a> --}}
                            </div><!--//grid-item-->
                        </div><!--col-->
                        <div class="col-12 col-md-6 mb-4">
                            <div class="grid-item p-4">
                                <h5 class="text-white mb-3 title"><i class="fas fa-subway me-2"></i>Da Rodoviária <br /><i class="fas fa-car me-2"></i>via Uber</h5>
                                <p>Cerca de 30 minutos. Basta colocar Igreja Batista em Coqueiral ou Instituto Solidare.</p>
                                {{!-- <a class="text-white" href="#">Book Tickets &rarr;</a> --}}
                            </div><!--//grid-item-->
                        </div><!--col-->
                    </div><!--//row-->
                    <h4 class="text-white mb-4 mt-3 mt-lg-5">Facilidades &amp; Acomodações</h4>
                    <p>Nosso evento disponibilizará hospedagem solidária. Você poderá se hospedar nas casas de nossos irmãos e irmãs e vivenciar um pouco do dia-a-dia da Igreja Batista em Coqueiral e do Instituto Solidare.
                        Para inscrições avulsas o valor da hospedagem solidária é de apenas R$ 100,00. Mas você pode optar pelo nosso combo completo que já terá direito a esta experiência. 
                        Caso prefira, você pode ficar livre para se hospedar em um dos hotéis da rede hoteleira de Recife.</p>
                    <a class="btn btn-ghost" href="#tickets-section">Fazer inscrição</a>
                </div><!--//desc-->
            </div><!--//col-->
            <div class="col-12 col-xl-3 col-lg-4 offset-lg-1 position-relative h-100 mt-5 mt-lg-0">
                <div class="figures-holder">
                    <div class="figure figure-2"><img class="shadow" src="/images/venue/rio-capiberibe.jpeg" alt=""></div>
                    <div class="figure figure-3"><img class="shadow" src="/images/venue/ibc.png" alt=""></div>
                    <div class="figure figure-4"><img class="shadow" src="/images/venue/ibc2.jpeg" alt=""></div>
                    <div class="figure figure-4"><img class="shadow" src="/images/venue/ibc3.jpeg" alt=""></div>
                </div><!--//figures-holder-->
            </div><!--//col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//venue-section-->