<section id="about-section" class="about-section section theme-bg-light">
    <div class="container">
        
        
        <div class="event-countdown text-center mb-3">		   
            <h4 class="countdown-intro mb-2 text-center mb-3">O Miqueias 2022 começa em:</h4>
            <div id="countdown-box" class="countdown-box"></div>
        </div><!--//event-countdown-->

        <div style="display: block; height: 200px;"></div>
    </div><!--//container-->

</section><!--//about-section-->