<div class="stats-block theme-bg-primary text-white py-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">200+</div>
                    <div class="unit">Participantes</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">3</div>
                    <div class="unit">Dias</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">60+</div>
                    <div class="unit">Atividades</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">10+</div>
                    <div class="unit">Oficinas</div>
                </div><!--//item-->
            </div><!--//col-->
        </div>
    </div><!--//container-->
</div><!--//stats-block-->