<section id="sponsors-section" class="sponsors-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Parceiros</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">Want to become a sponsor? Get in touch lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat magna eu accumsan mattis.</div>
        <div class="row logos justify-content-center">
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-1.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-2.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-3.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-4.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-5.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-6.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-7.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-8.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-9.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-10.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-11.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/logo-12.svg" alt=""></div>
        </div><!--//row-->
        <div class="sponsors-cta text-center pt-5"><a class="btn-primary btn btn-lg" href="#">Become A Sponsor</a></div>
    </div><!--//container-->
</section><!--//sponsors-section-->