<section id="sponsors-section" class="sponsors-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Parceiros</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">
            Estes são os parceiros que acreditam no III Congresso Miqueias Brasil 2022.
        </div>
        <div class="row logos justify-content-center">
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/tearfund.png" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/visaomundial.png" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/is.png" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="/images/logos/diaconia.png" alt=""></div>
        </div><!--//row-->
        {{!-- <div class="sponsors-cta text-center pt-5"><a class="btn-primary btn btn-lg" href="#">Become A Sponsor</a></div> --}}
    </div><!--//container-->
</section><!--//sponsors-section-->