<section id="about-section" class="about-section section theme-bg-light">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Sobre o Miqueias 2022</h3>
        <div class="section-intro single-col-max mx-auto mb-4">
            A Miqueias Brasil tem como objetivos: <strong>(1)</strong> Promover, encorajar e motivar os cristãos a adotarem e a praticarem a missão da igreja levando em conta a sua integralidade; e <strong>(2)</strong> Aperfeiçoar e capacitar lideranças evangélicas do Brasil na perspectiva integral, baseado na Palavra de Deus, para responder às demandas concretas das suas comunidades, em todas as suas esferas, como ambiental, de justiça, individual e etc., através da proclamação e demonstração do amor de Deus.
        </div>
        <div class="section-intro single-col-max mx-auto mb-4">
            A cada dois anos a Rede promove o Congresso Miqueias Brasil, que é um evento que visa viabilizar os objetivos acima citados. Este ano o III Congresso Miqueias Brasil acontecerá entre os dias 16 e 18 de junho, no Nordeste, na cidade do Recife, na sede da Igreja Batista em Coqueiral, sob o tema Semeando Esperança, e os subtemas: indignação como semente; esperança como adubo e; amor/justiça como fruto. Espera-se juntar entre 150 e 200 participantes de igrejas e organizações evangélicas de todas as regiões do Brasil.
        </div>
        <div class="benefits-list text-center mb-3">
            <h4 class="text-center mb-4">Why Join Us</h4>
            <ul class="list-unstyled text-start d-inline-block">
                <li><i class="fas fa-check-circle me-2"></i>Unique chance to lorem ipsum dolor</li>
                <li><i class="fas fa-check-circle me-2"></i>Learn from the best in the industry</li>
                <li><i class="fas fa-check-circle me-2"></i>Discover the best tools and practices</li>
                <li><i class="fas fa-check-circle me-2"></i>Meet developers from all over the world</li>
                <li><i class="fas fa-check-circle me-2"></i>Grow your network</li>
                <li><i class="fas fa-check-circle me-2"></i>Practical workshops to lorem ipsum dolor</li>
                <li><i class="fas fa-check-circle me-2"></i>After-party lorem ipsum dolor</li>
                <li><i class="fas fa-check-circle me-2"></i>Free <a href="https://made4dev.com">developer t-shirts</a> and swag</li>
            </ul>
        </div><!--//benefits-list-->
        <div class="event-countdown text-center mb-3">		   
            <h4 class="countdown-intro mb-2 text-center mb-3">O Miqueias 2022 começa em:</h4>
            <div id="countdown-box" class="countdown-box"></div>
        </div><!--//event-countdown-->
        <div class="about-cta text-center mb-5"><a class="btn btn-secondary btn-lg  mb-5" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Inscreva-se Já!</a></div>
    </div><!--//container-->

    <div class="media-block theme-bg-primary py-5">
        <div class="container">
            <h4 class="text-white text-center mb-3">Anos Anteriores</h4>
            <div class="section-intro text-center single-col-max mx-auto text-white mb-5">
                Você pode conferir aqui vídeos do Congresso Miqueias de anos anteriores.
            </div>
            <div class="row gx-5">
                <div class="col-12 col-md-6 mb-3">
                    <div class="ratio ratio-16x9">
                        
                        <iframe src="https://www.youtube.com/embed/CFLHevWVPR4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><!--//embed-responsive -->
                </div><!--//col-->
                <div class="col-12 col-md-6 mb-md-5">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/NPYqnGNO_zw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><!--//embed-responsive -->
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//media-block-->
</section><!--//about-section-->