<div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
    
    {{>
        programacao/modelo

        titulo="Credenciamento e Acolhida"
        descricao="Esse é o momento de você pegar o seu crachá, o seu material e tirar eventuais dúvidas sobre o congresso."
        
        local="Tenda IB Coqueiral"
        horario="17:00 - 19:30"
    }}

    {{>
        programacao/modelo

        titulo="Abertura"
        descricao="Abertura do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="19:30 - 19:45"
    }}

    {{>
        programacao/modelo

        titulo="O que é o Miqueias Brasil?"
        descricao="Apresentação sobre a Rede Miqueias Brasil."
        
        local="Tenda IB Coqueiral"
        horario="19:45 - 20:00"
    }}

    {{>
        programacao/modelo

        titulo="Louvor"
        descricao="Louvor do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="20:00 - 20:20"
    }}

    {{>
        programacao/modelo

        titulo="Plenária Virtual"
        descricao="Plenária Virtual do III Congresso Miqueias Brasil 2022."
        
        local="Canal Miqueias Brasil (YouTube)"
        horario="20:20 - 20:40"
    }}

    {{>
        programacao/modelo

        titulo="Louvor/Arte"
        descricao="Momento de Louvor/Arte do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="20:40 - 20:45"
    }}

    {{>
        programacao/modelo

        titulo="Plenária de Abertura"
        descricao="Plenária de Abertura do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="20:45 - 21:30"
    }}

    {{>
        programacao/modelo

        titulo="Despedidas e Encaminhamento"
        descricao="Socialização do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="21:30 - 22:30"
    }}
    
</div><!--//tab-1-content-->