<section id="schedule-section" class="schedule-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-5">Programação</h3>
        
        <!-- Nav tabs -->
        <ul class="schedule-nav nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item me-2">
                <a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
                    <span class="heading">Quinta</span>
                    <span class="meta">(16 Jun)</span>
                </a>
            </li>
            <li class="nav-item me-2">
                <a class="nav-link" id="tab-2" data-bs-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">
                    <span class="heading">Sexta</span>
                    <span class="meta">(17 Jun)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-3" data-bs-toggle="tab" href="#tab-3-content" role="tab" aria-controls="tab-3-content" aria-selected="false">
                    <span class="heading">Sábado</span>
                    <span class="meta">(18 Jun)</span>
                </a>
            </li>
        </ul>
        
        <!-- Tab panes -->
        <div class="schedule-tab-content tab-content">

            {{> programacao/16/index }}
            {{> programacao/17/index }}
            {{> programacao/18/index }}
            
        </div><!--//schedule-tab-content-->
        <div class="schedule-cta text-center mx-auto">
            <!--<a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" class="btn btn-primary btn-lg me-md-2 d-block d-md-inline-block mb-3 mb-md-0" target="_blank">Download Schedule</a>-->
            <a 
                href="#tickets-section" 
                class="btn btn-secondary btn-lg d-block d-md-inline-block"
            >
                Faça já a sua inscrição!
            </a>
        </div>
    </div><!--//container-->
</section><!--//schedule-section-->