<section id="speakers-section" class="speakers-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">
            Presenças Confirmadas
        </h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">
            Veja quem estará conosco durante o III Congresso Miqueias Brasil 2022!
        </div>
        <div class="row">
            
            {{> 
                palestrante/card/modelo 
                base="andreia"
                
                nome="Andreia Fernandes"
                funcao="Pastora"
                organizacao="Igreja Metodista"

                minibio=""

                
                instagram="https://www.instagram.com/andreiafernandes_23/"
            }}

            {{> 
                palestrante/card/modelo 
                base="carlinhos"
                
                nome="Carlos Queiroz"
                funcao="Teólogo, Professor e Pastor"
                organizacao="Igreja de Cristo no Brasil"

                minibio=""

                site="http://prcarlosqueiroz.blogspot.com/"
                facebook="https://pt-br.facebook.com/carlospinheiro.queiroz"
                instagram="https://www.instagram.com/carlinhosperegrino/"
            }}

            {{> 
                palestrante/card/modelo 
                base="pita"
                
                nome="Cláudio Pita"
                funcao="Advogado e Teólogo"
                organizacao="Igreja de Cristo no Brasil"

                minibio="✓Diretor presidente e fundador da instituição Lar Nefesh desde 2002; 
✓Presidente da Comissão de ONGs da OAB Santana na gestão 2016 - 2018; 
✓Advogado, militante pelos direitos de Crianças e Adolescentes; 
✓Pós graduado em Direito de Família e Sucessões pela Faculdade Legale 2019; 
✓Bacharel em Direito pela Universidade Anhanguera 2013; 
✓Bacharel em Teologia pela Faculdade Teológica Batista de São Paulo 2003. 
✓Diretor de Projetos Sociais é responsável pela “Escola Papo de Responsa” Min JEAME 1994;"

                site="https://www.linkedin.com/in/claudio-pita-86165121/"
                facebook="https://www.facebook.com/larnefesh.neai"
                instagram="https://www.instagram.com/larnefesh/"
            }}

            
            
            {{> 
                palestrante/card/modelo 
                base="ed"
                
                nome="Ed René Kivitz"
                funcao="Teólogo, Escritor e Pastor"
                organizacao="Igreja Batista da Água Branca"

                minibio=""

                site="https://edrenekivitz.com/"
                twitter="https://twitter.com/edrenekivitz"
                instagram="https://www.instagram.com/edrenekivitz/"
                facebook="https://pt-br.facebook.com/edrenekivitz"
            }}

            {{> 
                palestrante/card/modelo 
                base="ze"
                
                nome="José Marcos"
                funcao="Teólogo, Escritor e Pastor"
                organizacao="Igreja Batista em Coqueiral"

                minibio="Pastor da Igreja Batista em Coqueiral e Presidente do Instituto Solidare. Bacharelou-se em Teologia pelo Seminário Teológico Batista do Norte do Brasil e estudou Psicologia na Universidade Federal de Pernambuco. É Pós-graduado em Fé e Política pela PUC-Rio. Coautor de diversos livros, e autor de Desculpe o transtorno: estamos mudando a igreja. É casado com Erivaneide, com quem tem dois filhos e duas netas."

                facebook="https://pt-br.facebook.com/josemarcosdasilva1975"
                instagram="https://www.instagram.com/josemarcospastor/"
            }}

            {{> 
                palestrante/card/modelo 
                base="julhin"
                
                nome="Julhin de Tia Lica"
                funcao="Artista"
                organizacao=""

                minibio=""

                site="https://linktr.ee/Julhindetialica"
                instagram="https://www.instagram.com/julhindetialica/"
            }}

            {{> 
                palestrante/card/modelo 
                base="leandro"
                
                nome="Leandro Silva"
                funcao="Missionário e escritor"
                organizacao="Missão ALEF"

                minibio="Leandro Silva é presidente da Missão ALEF e tem se dedicado intensamente a mobilizar, equipar e conectar líderes para o desenvolvimento de movimentos locais de cooperação entre o corpo de Cristo para o avanço da ação missional nas áreas mais empobrecidas. Escreveu capítulos nos livros “A Igreja e sua Missão Transformadora” (Ultimato) e “Cosmovisão Cristã” (Editora Reflexão) e é coautor e coorganizador dos livros “Igreja em Movimento, Comunidades em Transformação” (Garimpo Editorial), “Redescobrindo o Evangelho” (Garimpo Editorial), “Venha o Teu Reino: uma igreja para hoje” (Ultimato) e “Revitalizando a Igreja e sua Liderança” (Editora Esperança). Graduado nacional em liderança avançada pelo Haggai Institute. Integra a equipe executiva do movimento de Lausanne no Brasil e a iniciativa global “Indivíduos Inspirados”. Leandro e sua esposa, Adryelle, são missionários da Action Internacional Ministries, servindo no Nordeste Brasileiro."

                facebook="https://www.facebook.com/leandrosilva.virginio"
            }}

            {{> 
                palestrante/card/modelo 
                base="dede"
                
                nome="Marcos José"
                funcao="Artista local"
                organizacao="Igreja Batista em Coqueiral"

                minibio="Membro da IBC a 20 anos. Músico, compositor e intérprete atuante na área desde os 12. Seu crescimento musical é mesclado ao conhecimento adquirido na caminhada cristã da Igreja Batista em Coqueiral que abraça a teologia da missão integral como praxis. Casado com Luany e pai de Melinda."

                instagram="https://www.instagram.com/eumarcosjose/"
            }}

            {{> 
                palestrante/card/modelo 
                base="marcos"
                
                nome="Marcos Mendes"
                funcao="Pastor e escritor"
                organizacao="Igreja Batista Esperança e Missão ALEF"

                minibio="Marcos Mendes é pastor e atualmente serve ao Senhor na Igreja Batista Esperança. Exerce a função de diretor de projetos da Missão ALEF. Mestre em Ciências Sociais UFRN), Especialista em Direitos Humanos (FLACSO) e Segurança Pública e Cidadania (UERN), é autor dos livros “Diálogos com o Espelho: ética e renovação para a igreja contemporânea” e A Saída do Labirinto: missão e discipulado na perspectiva do evangelho integral” , publicados pela Garimpo Editorial, e “Incomodas Questões para a Igreja Contemporânea”, publicado pela editora Esperança; organizador e co-autor dos livros “Igreja em Movimento, Comunidades em Transformação” (Garimpo Editorial), “Redescobrindo o Evangelho” (Garimpo Editorial), “Venha o Teu Reino: uma igreja para hoje” (Editora Ultimato) e “Revitalizando a Igreja e sua Liderança” (Editora Esperança). Casado com Rose e pai de Debora, Juliana e Marcos Filho."

                instagram="https://www.instagram.com/marcos27mendes/"
            }}

            {{> 
                palestrante/card/modelo 
                base="nos"
                
                nome="Nós na Criação"
                funcao="Movimento social"
                organizacao=""

                minibio="O Nós na Criação é um movimento de juventude cristã focado em colaborar com a igreja local na vivência da fé em relação de coexistência harmônica na Criação de Deus. A atuação do movimento com a juventude se estabelece na reflexão a respeito da fé na Criação de Deus, da qual somos parte. Entendemos que o tema do Meio Ambiente e da coexistência harmônica na criação de Deus não é um tema acessório ou transitório, mas permanente e urgente. Missão: Contribuir com e na igreja local, entendendo-se e fazendo entender-se como parte da Criação de Deus, buscando coexistir harmonicamente na Natureza-sociedade, por meio do Ministério da Reconciliação (II Co 5: 18-20), para contribuir com a implementação do Reino de Justiça, Paz e Alegria (Rm 14: 17)."
                
                instagram="https://www.instagram.com/nos.nacriacao/"
                
            }}


            {{> 
                palestrante/card/modelo 
                base="acalanto"
                
                nome="O Acalanto"
                funcao="Grupo artístico local"
                organizacao=""

                minibio="Criado em 2009, O Acalanto se estrutura como uma expressão o movimento Armorial da década de 70, criado por Ariano Suassuna, que tinha o objetivo de trazer para os palcos a cultura popular. Com essa influência, trazemos para os palcos a temátca dos sonhos munidos das bricadeiras do cavalo Marinho, Repentes e poesias, além do Maracatú, Coco, Frevo e Ciranda num espetáculo multiartístico que mistra teatro, dança e música, tudo numa coisa só; A formação dO Acalanto hoje conta com Killinho Vieira (Vocal/violão/pífano e dança); Thiago Gomes (Percução/Vocal); Thyago Monteiro (Percução/Gaita e vocal); Diego Santos (Baixo acústico/Violão/Artes Plásticas). Completam essa trupe bailarinos e bailarinas, atrizes e atores para cada ocasião específica."

                instagram="https://www.instagram.com/oacalanto/"
            }}

            {{> 
                palestrante/card/modelo 
                base="rede"
                
                nome="Rede Juvenil ALC"
                funcao=""
                organizacao=""

                minibio="A Rede Juvenil ALC é uma iniciativa da Tearfund que nasce para acompanhar a juventude que está ativamente envolvida em ações nas temáticas de Sustentabilidade Ambiental e Econômica - EES e Transformação Política e Social - TPS para a região da América Latina e Caribe."

            }}

            
            {{> 
                palestrante/card/modelo 
                base="diamanso"
                
                nome="Roberto Diamanso"
                funcao="Artista"
                organizacao=""

                minibio="Ao longo de sua carreira musical, Roberto Diamanso fez e tem feito parcerias com muitos artistas, dentre eles César do Acordeon, Amauri Falabella (Guarulhos), Naná Villa Lobos, Ulísses (Maceió) e Silvestre Kuhlmann (São Paulo), dentre outros. Já gravou e/ou tocou com artistas como Fernando Melo, Sóstenes Lima, Emílio Mendonça, Célio Barros, dentre outros."

                facebook="https://www.facebook.com/diamanso/"
                site=""
            }}

            {{> 
                palestrante/card/modelo 
                base="ronilso"
                
                nome="Ronilso Pacheco"
                funcao="Teólogo, Colunista e Mestrando"
                organizacao="Union Theological Seminary"

                minibio=""

                site="https://noticias.uol.com.br/colunas/ronilso-pacheco/"
                twitter="https://twitter.com/ronilso_pacheco"
                instagram="https://www.instagram.com/ronilsopacheco/"
                facebook="https://pt-br.facebook.com/ronilso.pacheco"
            }}

            {{> 
                palestrante/card/modelo 
                base="serguem"
                
                nome="Serguem Silva"
                funcao=""
                organizacao=""

                minibio=""

                facebook="https://www.facebook.com/profile.php?id=100005113269692"
            }}

            {{> 
                palestrante/card/modelo 
                base="thaiana"
                
                nome="Thaiana Assis"
                funcao="Pastora"
                organizacao="Igreja Metodista"

                minibio=""

                instagram="https://www.instagram.com/thaianaassis/"
            }}

            {{> 
                palestrante/card/modelo 
                base="thiago"
                
                nome="Thiago Ferreira"
                funcao="Artista local"
                organizacao=""

                minibio="Cristão pernambucano, mora no bairro do Curado, Jaboatão dos Guararapes, PE. Seu Ep ANDANTE tem aproximadamente 1 mês de vida e se classifica como Música Popular Brasileira simples, alegre, profunda, sensível, trazendo fé, leveza e esperança."

                site="https://onerpm.link/677496000883"
                instagram="https://instagram.com/eusouthiagofsilva"
                twitter="https://twitter.com/eusouthiagof?t=Z-bj-ToA69nAalY9pNglog&s=09"
                facebook="https://www.facebook.com/profile.php?id=100077335036370"
                
            }}

            {{> 
                palestrante/card/modelo 
                base="usiel"
                
                nome="Usiel Carneiro"
                funcao="Pastor"
                organizacao=""

                minibio=""

                instagram="https://www.instagram.com/usielcarneiro/"
            }}

            {{> 
                palestrante/card/modelo 
                base="val"
                
                nome="Valdenice Raimundo"
                funcao="Professora e Pró-reitora"
                organizacao="Pastoral da Negritude Rosa Parks"

                minibio=""

                
            }}

            
            
            </div><!--//col-->
        </div><!--//row-->
        <div class="speakers-cta text-center py-3"><a class="btn btn-primary btn-lg" href="#tickets-section">Inscreva-se Já!</a></div>
    </div><!--//container-->
    
</section><!--//speakers-section-->

<div class="container">
    <hr>
</div>