<section id="speakers-section" class="speakers-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Palestrantes</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">
            Veja quem estará conosco durante o III Congresso Miqueias Brasil 2022!
        </div>
        <div class="row">
            
            {{> 
                palestrante/card/modelo 
                base="ed"
                
                nome="Ed René Kivitz"
                funcao="Teólogo, Escritor e Pastor"
                organizacao="Igreja Batista da Água Branca"

                minibio="Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus."

                site="https://edrenekivitz.com/"
                twitter="https://twitter.com/edrenekivitz"
                instagram="https://www.instagram.com/edrenekivitz/"
                facebook="https://pt-br.facebook.com/edrenekivitz"
            }}
            
            </div><!--//col-->
        </div><!--//row-->
        <div class="speakers-cta text-center py-3"><a class="btn btn-primary btn-lg" href="#tickets-section">Inscreva-se Já!</a></div>
    </div><!--//container-->
    
</section><!--//speakers-section-->

<div class="container">
    <hr>
</div>