<section id="speakers-section" class="speakers-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">
            Presenças Confirmadas
        </h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">
            Veja quem estará conosco durante o III Congresso Miqueias Brasil 2022!
        </div>
        <div class="row">
            
            {{> 
                palestrante/card/modelo 
                base="carlinhos"
                
                nome="Carlos Queiroz"
                funcao="Teólogo, Professor e Pastor"
                organizacao="Igreja de Cristo no Brasil"

                minibio="Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus."

                site="http://prcarlosqueiroz.blogspot.com/"
                facebook="https://pt-br.facebook.com/carlospinheiro.queiroz"
            }}
            
            {{> 
                palestrante/card/modelo 
                base="ed"
                
                nome="Ed René Kivitz"
                funcao="Teólogo, Escritor e Pastor"
                organizacao="Igreja Batista da Água Branca"

                minibio="Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus."

                site="https://edrenekivitz.com/"
                twitter="https://twitter.com/edrenekivitz"
                instagram="https://www.instagram.com/edrenekivitz/"
                facebook="https://pt-br.facebook.com/edrenekivitz"
            }}

            {{> 
                palestrante/card/modelo 
                base="ze"
                
                nome="José Marcos"
                funcao="Teólogo, Escritor e Pastor"
                organizacao="Igreja Batista em Coqueiral"

                minibio="Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus."

                facebook="https://pt-br.facebook.com/josemarcosdasilva1975"
            }}

            {{> 
                palestrante/card/modelo 
                base="ronilso"
                
                nome="Ronilso Pacheco"
                funcao="Teólogo, Colunista e Pastor"
                organizacao="Union Theological Seminary"

                minibio="Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus."

                site="https://noticias.uol.com.br/colunas/ronilso-pacheco/"
                twitter="https://twitter.com/ronilso_pacheco"
                instagram="https://www.instagram.com/ronilsopacheco/"
                facebook="https://pt-br.facebook.com/ronilso.pacheco"
            }}
            
            </div><!--//col-->
        </div><!--//row-->
        <div class="speakers-cta text-center py-3"><a class="btn btn-primary btn-lg" href="#tickets-section">Inscreva-se Já!</a></div>
    </div><!--//container-->
    
</section><!--//speakers-section-->

<div class="container">
    <hr>
</div>