<div class="tab-pane no-timeline" id="tab-3-content" role="tabpanel" aria-labelledby="tab-3">
    
    {{>
        programacao/modelo

        titulo="Café da Manhã"
        descricao="Café da Manhã do terceiro dia do III Congresso Miqueias Brasil 2022."
        
        local="Refeitório"
        horario="08:00 - 09:00"
    }}

    {{>
        programacao/modelo

        titulo="Abertura"
        descricao="Abertura do terceiro dia do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="09:00 - 09:10"
    }}

    {{>
        programacao/modelo

        titulo="Louvor"
        descricao="Louvor do terceiro dia do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="09:10 - 09:30"
    }}

    {{>
        programacao/modelo

        titulo="Carta (Primeira leitura)"
        descricao="Primeira leitura da Carta do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="09:30 - 10:00"
    }}

    {{>
        programacao/modelo

        titulo="Intervalo"
        descricao="Intervalo do terceiro dia do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="10:00 - 10:30"
    }}

    {{>
        programacao/modelo

        titulo="Oficinas"
        descricao="Oficinas do III Congresso Miqueias Brasil 2022."
        
        local="IB Coqueiral"
        horario="10:30 - 12:00"
    }}

    {{>
        programacao/modelo

        titulo="Almoço"
        descricao="Almoço do terceiro dia do III Congresso Miqueias Brasil 2022."
        
        local="Refeitório"
        horario="12:00 - 13:30"
    }}

    {{>
        programacao/modelo

        titulo="Oficinas"
        descricao="Oficinas do III Congresso Miqueias Brasil 2022."
        
        local="IB Coqueiral"
        horario="13:30 - 15:00"
    }}

    {{>
        programacao/modelo

        titulo="Intervalo"
        descricao="Intervalo do terceiro dia do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="15:00 - 15:30"
    }}

    {{>
        programacao/modelo

        titulo="Assembleias"
        descricao="Leitura final da carta, assembleias e decisão sobre o IV Congresso Miqueias Brasil 2023."
        
        local="Tenda IB Coqueiral"
        horario="15:30 - 17:00"
    }}

    {{>
        programacao/modelo

        titulo="Intervalo"
        descricao="Intervalo do terceiro dia do III Congresso Miqueias Brasil 2022."
        
        local="IB Coqueiral"
        horario="17:00 - 18:00"
    }}

    {{>
        programacao/modelo

        titulo="Jantar"
        descricao="Jantar do terceiro dia do III Congresso Miqueias Brasil 2022."
        
        local="Refeitório"
        horario="18:00 - 19:30"
    }}

    {{>
        programacao/modelo

        titulo="Louvor"
        descricao="Louvor do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="19:30 - 19:50"
    }}

    {{>
        programacao/modelo

        titulo="Plenária Virtual"
        descricao="Plenária Virtual do III Congresso Miqueias Brasil 2022."
        
        local="Canal Miqueias Brasil (YouTube)"
        horario="19:50 - 20:10"
    }}

    {{>
        programacao/modelo

        titulo="Louvor/Arte"
        descricao="Momento de Louvor/Arte do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="20:10 - 20:20"
    }}

    {{>
        programacao/modelo

        titulo="Plenária de Encerramento"
        descricao="Plenária de encerramento do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="20:20 - 21:05"
    }}

    

    {{>
        programacao/modelo

        titulo="Ceia"
        descricao="Ceia do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="21:05 - 21:30"
    }}

    {{>
        programacao/modelo

        titulo="Encerramento"
        descricao="Encerramento do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="21:30 - 22:30"
    }}
    
</div><!--//tab-1-content-->