<div class="tab-pane no-timeline" id="tab-3-content" role="tabpanel" aria-labelledby="tab-3">
    
    {{>
        programacao/modelo
        base="ed"
        
        palestrante="Ed René Kivitz"
        titulo="Missão Integral e Talmidim 3"
        descricao="Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus."
        
        local="Espaço Coca-Cola"
        horario="09:00 - 09:30"
    }}

    {{>
        programacao/modelo

        titulo="Almoço"
        descricao="Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus."
        
        local="Refeitório"
        horario="12:00 - 13:30"
    }}

    {{>
        programacao/modelo
        base="ed"
        
        palestrante="Ed René Kivitz"
        titulo="Espiritualidade, Fé e Trabalho"
        descricao="Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Atirei o pau no gatis, per gatis num morreus.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus."
        
        local="Tenda IBC"
        horario="14:00 - 15:30"
    }}
    
</div><!--//tab-1-content-->