<section id="speakers-section" class="speakers-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Palestrantes</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">List your featured speakers here. You can provide more info about each speaker in the relevant modal windows. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="row">
            <div class="col-6 col-lg-3 mb-4">
                <div class="card rounded-0">
                    <a href="#modal-palestrante-ed" data-bs-toggle="modal" data-bs-target="#modal-palestrante-ed"><img src="/images/pessoas/palestrantes/ed.jpg" class="card-img-top rounded-0" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title mb-2">Ed René Kivitz</h5>
                        <div class="card-text mb-3">
                            <div class="meta">Igreja Batista da Água Branca</div>
                        </div><!--//card-text-->
                        <a href="#modal-palestrante-ed" data-bs-toggle="modal" data-bs-target="#modal-palestrante-ed">Um pouco mais &rarr;</a>
                    </div><!--//card-->
                    <div class="card-footer text-muted">
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </div><!--//card-->
            </div><!--//col-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="card rounded-0">
                    <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="/images/speakers/speaker-2.jpg" class="card-img-top rounded-0" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title mb-2">Sarah Doe</h5>
                        <div class="card-text mb-3">
                            <div class="meta">Developer Advocate</div>
                            <div class="meta">Google</div>
                        </div><!--//card-text-->
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                    </div><!--//card-->
                    <div class="card-footer text-muted">
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </div><!--//card-->
            </div><!--//col-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="card rounded-0">
                    <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="/images/speakers/speaker-3.jpg" class="card-img-top rounded-0" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title mb-2">Tim Doe</h5>
                        <div class="card-text mb-3">
                            <div class="meta">Software Developer</div>
                            <div class="meta">React Core Team</div>
                        </div><!--//card-text-->
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                    </div><!--//card-->
                    <div class="card-footer text-muted">
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </div><!--//card-->
            </div><!--//col-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="card rounded-0">
                    <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="/images/speakers/speaker-4.jpg" class="card-img-top rounded-0" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title mb-2">Josh Doe</h5>
                        <div class="card-text mb-3">
                            <div class="meta">Founder &amp; CTO</div>
                            <div class="meta">Startup Week</div>
                        </div><!--//card-text-->
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                    </div><!--//card-->
                    <div class="card-footer text-muted">
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </div><!--//card-->
            </div><!--//col-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="card rounded-0">
                    <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="/images/speakers/speaker-5.jpg" class="card-img-top rounded-0" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title mb-2">Ling Doe</h5>
                        <div class="card-text mb-3">
                            <div class="meta">Software Architect</div>
                            <div class="meta">GitHub</div>
                        </div><!--//card-text-->
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                    </div><!--//card-->
                    <div class="card-footer text-muted">
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </div><!--//card-->
            </div><!--//col-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="card rounded-0">
                    <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="/images/speakers/speaker-6.jpg" class="card-img-top rounded-0" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title mb-2">Andy Doe</h5>
                        <div class="card-text mb-3">
                            <div class="meta">Senior Software Engineer</div>
                            <div class="meta">Twitter</div>
                        </div><!--//card-text-->
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                    </div><!--//card-->
                    <div class="card-footer text-muted">
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </div><!--//card-->
            </div><!--//col-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="card rounded-0">
                    <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="/images/speakers/speaker-7.jpg" class="card-img-top rounded-0" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title mb-2">Alice Doe</h5>
                        <div class="card-text mb-3">
                            <div class="meta">Senior Software Developer</div>
                            <div class="meta">Facebook</div>
                        </div><!--//card-text-->
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                    </div><!--//card-->
                    <div class="card-footer text-muted">
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </div><!--//card-->
            </div><!--//col-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="card rounded-0">
                    <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="/images/speakers/speaker-8.jpg" class="card-img-top rounded-0" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title mb-2">Thomas Doe</h5>
                        <div class="card-text mb-3">
                            <div class="meta">Lead Developer</div>
                            <div class="meta">Microsoft</div>
                        </div><!--//card-text-->
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                    </div><!--//card-->
                    <div class="card-footer text-muted">
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </div><!--//card-->
            </div><!--//col-->
        </div><!--//row-->
        <div class="speakers-cta text-center py-3"><a class="btn btn-primary btn-lg" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Inscreva-se Já!</a></div>
    </div><!--//container-->
    
</section><!--//speakers-section-->

<div class="container">
    <hr>
</div>