<div class="col-12 col-md-4 p-2 p-lg-4">
    <div class="card rounded-0 border-0">
        <div class="card-body p-0">
            <div class="heading  text-center p-3">
                <h4 class="text-white mb-0">
                    Inscrição Básica
                </h4>
            </div>
            <div class="info p-3">
                <div class="price-figure text-center mb-3"><span class="currency">R$</span> <span class="number">75</span></div>
                <div class="desc px-3">
                    A inscrição básica inclui
                    <ul class="offers-list list-unstyled d-inline-block mx-auto text-start">
                        
                        {{> 
                            inscricao/modelo
                            icone="fa fa-beer"

                            descricao="01 Caneca"
                            valor="10"
                        }}
                        
                        {{> 
                            inscricao/modelo
                            icone="fa fa-sitemap"

                            descricao="Acesso Virtual"
                            valor="20"
                        }}

                        {{> 
                            inscricao/modelo
                            icone="fa fa-mug-hot"

                            descricao="04 Coffe-breaks"
                            valor="25"
                        }}

                        {{> 
                            inscricao/modelo
                            icone="fa fa-copy"

                            descricao="Impressos"
                            valor="5"
                        }}

                        {{> 
                            inscricao/modelo
                            icone="fa fa-coins"

                            descricao="Taxa administrativa"
                            valor="15"
                        }}
                    </ul> 
                </div>
            </div><!--//info-->
        </div><!--//card-body-->
        <div class="card-footer text-center">
            <a 
                href="https://www.even3.com.br/miqueias2022/" 
                target="_blank" 
                class="btn btn-primary"
            >
                Inscreva-se Já!
            </a>
        </div>
    </div><!--//card-->
</div><!--//col-->