<section id="tickets-section" class="tickets-section section theme-bg-light">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Inscrições</h3>
        <div class="section-intro single-col-max mx-auto text-center mb-4">
            Exitem várias modalidades para você se inscrever no III Congresso Miqueias Brasil 2022.<br/> Você também pode participar do congresso <a href="https://www.even3.com.br/miqueias2022/" target="_blank">virtualmente</a>. 
        </div>
        
        <div class="row pricing mb-5">
            
            {{> inscricao/basica}}

            {{> inscricao/combo_refeicao}}

            {{> inscricao/combo_completo}}

            
        </div><!--//pricing-->

    </div><!--//container-->
</section><!--//tickets-section-->