<li class="pb-3 pt-3 d-flex justify-content-between">
    <div>
        <span class="icon-holder me-2">
            <i class="{{icone}}"></i>
        </span>
        <span>{{descricao}}</span>
    </div>
    <span class="badge bg-secondary">R$ {{valor}}</span>
</li>