<div class="tab-pane no-timeline" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2">
    
    {{>
        programacao/modelo

        titulo="Café da Manhã"
        descricao="Café da Manhã do III Congresso Miqueias Brasil 2022."
        
        local="Refeitório"
        horario="08:00 - 09:00"
    }}

    {{>
        programacao/modelo

        titulo="Abertura"
        descricao="Abertura do segundo dia do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="09:00 - 09:10"
    }}

    {{>
        programacao/modelo

        titulo="Louvor"
        descricao="Louvor do segundo dia do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="09:10 - 09:30"
    }}

    {{>
        programacao/modelo

        titulo="Plenária II"
        descricao="Plenária do segundo dia do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="09:30 - 10:30"
    }}

    {{>
        programacao/modelo

        titulo="Intervalo"
        descricao="Intervalo do segundo dia do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="10:30 - 11:00"
    }}

    {{>
        programacao/modelo

        titulo="A nossa voz - Comissão para carta"
        descricao="Comissão para a Carta de Coqueiral no segundo dia do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="11:00 - 12:00"
    }}

    {{>
        programacao/modelo

        titulo="Almoço"
        descricao="Almoço do segundo dia do III Congresso Miqueias Brasil 2022."
        
        local="Refeitório"
        horario="12:00 - 14:00"
    }}

    {{>
        programacao/modelo

        titulo="Imersão IB Coqueiral"
        descricao="Imersão nas atividades da Igreja Batista em Coqueiral no segundo dia do III Congresso Miqueias Brasil 2022."
        
        local="IB Coqueiral"
        horario="14:00 - 17:30"
    }}

    {{>
        programacao/modelo

        titulo="Jantar"
        descricao="Jantar do segundo dia do III Congresso Miqueias Brasil 2022."
        
        local="Refeitório"
        horario="17:30 - 19:30"
    }}

    {{>
        programacao/modelo

        titulo="Louvor"
        descricao="Louvor do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="19:30 - 19:45"
    }}

    {{>
        programacao/modelo

        titulo="Plenária Virtual"
        descricao="Plenária Virtual do III Congresso Miqueias Brasil 2022."
        
        local="Canal Miqueias Brasil (YouTube)"
        horario="19:45 - 20:10"
    }}

    {{>
        programacao/modelo

        titulo="Mesa Temática"
        descricao="Mesa Temática do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="20:10 - 20:40"
    }}

    {{>
        programacao/modelo

        titulo="Louvor"
        descricao="Momento de Louvor do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="20:40 - 20:50"
    }}

    {{>
        programacao/modelo

        titulo="Plenária"
        descricao="Plenária do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="20:50 - 21:30"
    }}

    {{>
        programacao/modelo

        titulo="Despedida"
        descricao="Socialização do III Congresso Miqueias Brasil 2022."
        
        local="Tenda IB Coqueiral"
        horario="21:30 - 22:30"
    }}
    
</div><!--//tab-1-content-->