<!-- Modal Speaker -->
<div class="modal modal-speaker modal-speaker-1" id="modal-palestrante-ed" tabindex="-1" role="dialog" aria-labelledby="palestrante-ed-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="palestrante-ed-ModalLabel" class="modal-title sr-only"
>Ed René Kivitz</h4>
            </div>
            <div class="modal-body p-0">
                <div class="theme-bg-light p-5">
                    <div class="row">
                        <div class="col-12 col-md-auto text-center">
                            <img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" src="/images/pessoas/palestrantes/ed.jpg" alt="" />
                        </div>
                        
                        <div class="col text-center text-md-start mx-auto">
                            <h2 class="name mb-2">Ed René Kivitz</h2>
                            <div class="meta">Pastor</div>
                            <div class="meta mb-2">
                                Igreja Batista da Água Branca
                            </div>
                            <ul class="social-list list-inline mb-0">								
                                <li class="list-inline-item">
                                    <a  href="https://twitter.com/edrenekivitz">
                                        <i class="fab fa-twitter fa-fw"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a  href="https://www.instagram.com/edrenekivitz/">
                                        <i class="fab fa-instagram-square fa-fw"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a  href="https://pt-br.facebook.com/edrenekivitz">
                                        <i class="fab fa-facebook-square fa-fw"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a  href="https://edrenekivitz.com/">
                                        <i class="fas fa-link fa-fw"></i>
                                    </a>
                                </li>
                            </ul><!--//social-list--> 
                        </div><!--//col-->
                    </div><!--//row-->
                </div>
                <div class="desc p-4 p-lg-5">
                    <p>You can put speaker's bio or talk related info here. Duis a mi quis metus porttitor eleifend. Pellentesque finibus ultrices imperdiet. Maecenas auctor tortor quis risus tincidunt, mattis mattis leo placerat. Fusce metus augue, sagittis eget enim vel, venenatis auctor est. In interdum felis massa, ac porta nunc pretium non. In fringilla orci vitae imperdiet malesuada. Vestibulum feugiat lobortis est, in sagittis nisi molestie vel. Mauris ultrices vitae lectus eu feugiat. Fusce semper, nisi at placerat mollis, augue elit pretium enim, eu pellentesque justo purus et lectus. </p>
                    <p class="mb-0">Donec neque magna, molestie vel varius ut, pretium a urna. Pellentesque placerat nunc eu condimentum pellentesque. Vivamus dictum nisl leo, id fermentum lectus porttitor et. Pellentesque tristique erat libero, condimentum porttitor nisl pharetra et.</p>
                </div>
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->